In [1]:
import pandas as pd
import psycopg2
import plotly.graph_objects as go
import plotly.express as px
import  requests
import json

In [2]:
# Dataframe_creation
# sql_connection
mydb = psycopg2.connect(host = "localhost",
                        user = "postgres",
                        port= 5432,
                        database = "phonepe_data",
                        password = "arjunsoman123"
                           )
cursor = mydb.cursor()

# aggregated_transaction df

cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table1 = cursor.fetchall()

Aggre_transaction = pd.DataFrame(table1,columns = ("States","Years","Quarter","Transaction_type",
                                                   "Transaction_count","Transaction_amount"))

# aggregated_user df

cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table2 = cursor.fetchall()

Aggre_user = pd.DataFrame(table2,columns = ("States","Years","Quarter","Brands",
                                                   "Transaction_count","Percentage"))

# map_transaction df

cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table3 = cursor.fetchall()

Map_transaction = pd.DataFrame(table3,columns = ("States","Years","Quarter","Districts",
                                                   "Transaction_count","Transaction_amount"))


# map_user df

cursor.execute("SELECT * FROM map_user")
mydb.commit()
table4 = cursor.fetchall()

Map_user = pd.DataFrame(table4,columns = ("States","Years","Quarter","Districts",
                                                   "RegisteredUsers","AppOpens"))

# top_transaction df

cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table5 = cursor.fetchall()

Top_transaction = pd.DataFrame(table5,columns = ("States","Years","Quarter","Pincodes",
                                                   "Transaction_count","Transaction_amount"))

# top_user df

cursor.execute("SELECT * FROM top_user")
mydb.commit()
table6 = cursor.fetchall()

Top_user = pd.DataFrame(table6,columns = ("States","Years","Quarter","Pincodes",
                                                   "RegisteredUsers"))

In [3]:
# sql_connection
def top_chart_transaction_amount(table_name):
   mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
   cursor = mydb.cursor()

   #plot_1
   query1 = f'''SELECT states,SUM(transaction_amount) AS transaction_amount
               FROM {table_name}
               GROUP BY states
               ORDER BY transaction_amount DESC
               LIMIT 10;'''
   cursor.execute(query1)
   table_1 = cursor.fetchall()
   mydb.commit()

   df_1 = pd.DataFrame(table_1,columns = ("states","transaction_amount"))

   fig_amount = px.bar(df_1, x = "states", y = "transaction_amount",title = "TRANSACTION AMOUNT", hover_name = "states",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
   fig_amount.show()

   # plot_2
   query2 = f'''SELECT states,SUM(transaction_amount) AS transaction_amount
               FROM {table_name}
               GROUP BY states
               ORDER BY transaction_amount
               LIMIT 10;'''
   cursor.execute(query2)
   table_2 = cursor.fetchall()
   mydb.commit()

   df_2 = pd.DataFrame(table_2,columns = ("states","transaction_amount"))

   fig_amount_2 = px.bar(df_2, x = "states", y = "transaction_amount",title = "TRANSACTION AMOUNT", hover_name = "states",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height = 650, width = 600)
   fig_amount_2.show()

   # plot_3
   query3 = f'''SELECT states,AVG(transaction_amount) as transaction_amount
               FROM {table_name}
               group by states
               order by transaction_amount'''
   cursor.execute(query3)
   table_3 = cursor.fetchall()
   mydb.commit()

   df_3 = pd.DataFrame(table_3,columns = ("states","transaction_amount"))

   fig_amount_3 = px.bar(df_3, y = "states", x = "transaction_amount",title = "TRANSACTION AMOUNT", hover_name = "states",orientation="h",
                           color_discrete_sequence=px.colors.sequential.Bluered_r,height = 650, width = 600)
   fig_amount_3.show()

In [ ]:
top_chart_transaction_amount("aggregated_transaction")

In [5]:
# sql_connection
def top_chart_transaction_count(table_name):
   mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
   cursor = mydb.cursor()

   #plot_1
   query1 = f'''SELECT states,SUM(transaction_count) AS transaction_count
               FROM {table_name}
               GROUP BY states
               ORDER BY transaction_count DESC
               LIMIT 10;'''
   cursor.execute(query1)
   table_1 = cursor.fetchall()
   mydb.commit()

   df_1 = pd.DataFrame(table_1,columns = ("states","transaction_count"))

   fig_amount = px.bar(df_1, x = "states", y = "transaction_count",title = "TRANSACTION COUNT", hover_name = "states",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
   fig_amount.show()

   # plot_2
   query2 = f'''SELECT states,SUM(transaction_count) AS transaction_count
               FROM {table_name}
               GROUP BY states
               ORDER BY transaction_count
               LIMIT 10;'''
   cursor.execute(query2)
   table_2 = cursor.fetchall()
   mydb.commit()

   df_2 = pd.DataFrame(table_2,columns = ("states","transaction_count"))

   fig_amount_2 = px.bar(df_2, x = "states", y = "transaction_count",title = "TRANSACTION COUNT", hover_name = "states",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height = 650, width = 600)
   fig_amount_2.show()

   # plot_3
   query3 = f'''SELECT states,AVG(transaction_count) as transaction_count
               FROM {table_name}
               group by states
               order by transaction_count'''
   cursor.execute(query3)
   table_3 = cursor.fetchall()
   mydb.commit()

   df_3 = pd.DataFrame(table_3,columns = ("states","transaction_count"))

   fig_amount_3 = px.bar(df_3, y = "states", x = "transaction_count",title = "TRANSACTION COUNT", hover_name = "states",orientation="h",
                           color_discrete_sequence=px.colors.sequential.Bluered_r,height = 800, width = 1000)
   fig_amount_3.show()

In [ ]:
top_chart_transaction_count("aggregated_transaction")

In [7]:
# top_chart_registered_user
def top_chart_registered_user(table_name, state):
   mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
   cursor = mydb.cursor()

   #plot_1
   query1 = f'''SELECT districts,SUM(registeredusers) as registeredusers 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY districts
                ORDER BY registeredusers DESC
                LIMIT 10;'''
   cursor.execute(query1)
   table_1 = cursor.fetchall()
   mydb.commit()

   df_1 = pd.DataFrame(table_1,columns = ("districts","registeredusers"))

   fig_amount = px.bar(df_1, x = "districts", y = "registeredusers",title = "TOP 10 OF REGISTERED USER", hover_name = "districts",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
   fig_amount.show()

   # plot_2
   query2 = f'''SELECT districts,SUM(registeredusers) as registeredusers 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY districts
                ORDER BY registeredusers
                LIMIT 10;'''
   cursor.execute(query2)
   table_2 = cursor.fetchall()
   mydb.commit()

   df_2 = pd.DataFrame(table_2,columns = ("districts","registeredusers"))

   fig_amount_2 = px.bar(df_2, x = "districts", y = "registeredusers",title = "LAST 10 OF REGISTERED USER", hover_name = "districts",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height = 650, width = 600)
   fig_amount_2.show()

   # plot_3
   query3 = f'''SELECT districts,AVG(registeredusers) as registeredusers 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY districts
                ORDER BY registeredusers;'''
   cursor.execute(query3)
   table_3 = cursor.fetchall()
   mydb.commit()

   df_3 = pd.DataFrame(table_3,columns = ("districts","registeredusers"))

   fig_amount_3 = px.bar(df_3, y = "districts", x = "registeredusers",title = "AVERAGE OF REGISTERED USER", hover_name = "districts",orientation="h",
                           color_discrete_sequence=px.colors.sequential.Bluered_r,height = 800, width = 1000)
   fig_amount_3.show()

In [ ]:
top_chart_registered_user("Map_user",'Tamil Nadu')

In [9]:
# top_chart_appopens
def top_chart_appopens(table_name, state):
   mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
   cursor = mydb.cursor()

   #plot_1
   query1 = f'''SELECT districts,SUM(appopens) as appopens 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY districts
                ORDER BY appopens DESC
                LIMIT 10;'''
   cursor.execute(query1)
   table_1 = cursor.fetchall()
   mydb.commit()

   df_1 = pd.DataFrame(table_1,columns = ("districts","appopens"))

   fig_amount = px.bar(df_1, x = "districts", y = "appopens",title = "TOP 10 OF APPOPENS", hover_name = "districts",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
   fig_amount.show()

   # plot_2
   query2 = f'''SELECT districts,SUM(appopens) as appopens 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY districts
                ORDER BY appopens
                LIMIT 10;'''
   cursor.execute(query2)
   table_2 = cursor.fetchall()
   mydb.commit()

   df_2 = pd.DataFrame(table_2,columns = ("districts","appopens"))

   fig_amount_2 = px.bar(df_2, x = "districts", y = "appopens",title = "LAST 10 OF APPOPENS", hover_name = "districts",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height = 650, width = 600)
   fig_amount_2.show()

   # plot_3
   query3 = f'''SELECT districts,AVG(appopens) as appopens 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY districts
                ORDER BY appopens;'''
   cursor.execute(query3)
   table_3 = cursor.fetchall()
   mydb.commit()

   df_3 = pd.DataFrame(table_3,columns = ("districts","appopens"))

   fig_amount_3 = px.bar(df_3, y = "districts", x = "appopens",title = "AVERAGE OF APPOPENS", hover_name = "districts",orientation="h",
                           color_discrete_sequence=px.colors.sequential.Bluered_r,height = 800, width = 1000)
   fig_amount_3.show()

In [ ]:
top_chart_appopens("Map_user","Tamil Nadu")

In [11]:
# top_chart_registered_user
def top_chart_registered_users(table_name):
   mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
   cursor = mydb.cursor()

   #plot_1
   query1 = f'''SELECT states,SUM(registeredusers) as registeredusers1
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers1 DESC
                LIMIT 10;'''
   cursor.execute(query1)
   table_1 = cursor.fetchall()
   mydb.commit()

   df_1 = pd.DataFrame(table_1,columns = ("states","registeredusers1"))

   fig_amount = px.bar(df_1, x = "states", y = "registeredusers1",title = "TOP 10 OF REGISTERED USER", hover_name = "states",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
   fig_amount.show()

   # plot_2
   query2 = f'''SELECT states,SUM(registeredusers) as registeredusers1
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers1
                LIMIT 10;'''
   cursor.execute(query2)
   table_2 = cursor.fetchall()
   mydb.commit()

   df_2 = pd.DataFrame(table_2,columns = ("states","registeredusers1"))

   fig_amount_2 = px.bar(df_2, x = "states", y = "registeredusers1",title = "LAST 10 OF REGISTERED USER", hover_name = "states",
                           color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height = 650, width = 600)
   fig_amount_2.show()

   # plot_3
   query3 = f'''SELECT states,AVG(registeredusers) as registeredusers1
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers1;'''
   cursor.execute(query3)
   table_3 = cursor.fetchall()
   mydb.commit()

   df_3 = pd.DataFrame(table_3,columns = ("states","registeredusers1"))

   fig_amount_3 = px.bar(df_3, y = "states", x = "registeredusers1",title = "AVERAGE OF REGISTERED USER", hover_name = "states",orientation="h",
                           color_discrete_sequence=px.colors.sequential.Bluered_r,height = 800, width = 1000)
   fig_amount_3.show()

In [ ]:
top_chart_registered_users("Top_user")

In [13]:
Map_transaction["Transaction_amount"]

0             931663
1           12560249
2            1139849
3            1317863
4           23948236
            ...
70251    68795681276
70252    36904986734
70253    79819903794
70254    64167285922
70255    27939857261
Name: Transaction_amount, Length: 70256, dtype: int64

In [14]:
#Transaction_year_based
def Transaction_amount_count_Y(df, year):
    mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
    cursor = mydb.cursor()

   #plot_1
    query1 = f'''SELECT * FROM {df}
                WHERE years = {year}'''
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    tacy = pd.DataFrame(table_1,columns = ("States","Years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))

    query2 = f'''SELECT states,SUM(transaction_count) AS transaction_count,
                SUM(transaction_amount) AS transaction_amount
                FROM {df}
                WHERE years = {year}
                GROUP BY states;'''
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    tacyg = pd.DataFrame(table_2,columns = ("States","Transaction_count","Transaction_amount"))

    '''tacy = df[df["Years"]== year]
    tacy.reset_index(drop = True, inplace = True)
    
    tacyg = tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace = True)'''

    fig_amount = px.bar(tacyg, x = "States", y = "Transaction_amount",title = f"{year} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x = "States", y = "Transaction_count",title = f"{year} TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height = 650, width = 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_amount",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name="States", title = f"{year} TRANSACTION AMOUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    
    fig_india_2 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_count",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name="States", title = f"{year} TRANSACTION COUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [15]:
#Map_Transaction_year_based
def Transaction_amount_count_YY(df, year):
    mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
    cursor = mydb.cursor()

   #plot_1
    query1 = f'''SELECT * FROM {df}
                WHERE years = {year}'''
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    tacy = pd.DataFrame(table_1,columns = ("States","Years","Quarter","Districts","Transaction_count","Transaction_amount"))

    query2 = f'''SELECT states,SUM(transaction_count) AS transaction_count,
                SUM(transaction_amount) AS transaction_amount
                FROM {df}
                WHERE years = {year}
                GROUP BY states;'''
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    tacyg = pd.DataFrame(table_2,columns = ("States","Transaction_count","Transaction_amount"))

    '''tacy = df[df["Years"]== year]
    tacy.reset_index(drop = True, inplace = True)
    
    tacyg = tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace = True)'''

    fig_amount = px.bar(tacyg, x = "States", y = "Transaction_amount",title = f"{year} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x = "States", y = "Transaction_count",title = f"{year} TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height = 650, width = 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_amount",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name="States", title = f"{year} TRANSACTION AMOUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    
    fig_india_2 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_count",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name="States", title = f"{year} TRANSACTION COUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [16]:
#Top_Transaction_year_based
def Transaction_amount_count_YYY(df, year):
    mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
    cursor = mydb.cursor()

   #plot_1
    query1 = f'''SELECT * FROM {df}
                WHERE years = {year}'''
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    tacy = pd.DataFrame(table_1,columns = ("States","Years","Quarter","Pincodes","Transaction_count","Transaction_amount"))

    query2 = f'''SELECT states,SUM(transaction_count) AS transaction_count,
                SUM(transaction_amount) AS transaction_amount
                FROM {df}
                WHERE years = {year}
                GROUP BY states;'''
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    tacyg = pd.DataFrame(table_2,columns = ("States","Transaction_count","Transaction_amount"))
  
    fig_amount = px.bar(tacyg, x = "States", y = "Transaction_amount",title = f"{year} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x = "States", y = "Transaction_count",title = f"{year} TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height = 650, width = 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_amount",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name="States", title = f"{year} TRANSACTION AMOUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    
    fig_india_2 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_count",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name="States", title = f"{year} TRANSACTION COUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [17]:
#Transaction_quarter_based
def Transaction_amount_count_Y_Q(df, quarter):
    tacy = df[df["Quarter"]== quarter]
    tacy.reset_index(drop = True, inplace = True)
    
    tacyg = tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace = True)

    fig_amount = px.bar(tacyg, x = "States", y = "Transaction_amount",title = f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height = 650, width = 600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x = "States", y = "Transaction_count",title = f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height = 650, width = 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_amount",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name="States", title = f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    
    fig_india_2 = px.choropleth(tacyg, geojson = data1, locations = "States",featureidkey="properties.ST_NM",
                                color = "Transaction_count",color_continuous_scale="Rainbow",
                                range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name="States", title = f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",fitbounds= "locations",
                                height = 600, width = 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [18]:
# Transaction_type
def aggre_transaction_type(df, state):

    tacy = df[df["States"]== state]
    tacy.reset_index(drop = True, inplace = True)

    tacyg = tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace = True)

    fig_pie_1 = px.pie(data_frame= tacyg, names="Transaction_type", values = "Transaction_amount",
                    width = 600, title = f"{state.upper()} TRANSACTION AMOUNT", hole = 0.5 )
    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame= tacyg, names="Transaction_type", values = "Transaction_count",
                    width = 600, title = f"{state.upper()} TRANSACTION COUNT", hole = 0.5 )
    fig_pie_2.show()

In [19]:
# Aggre_user_analysis_1
def aggre_user_plot_1(df, year):
    mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
    cursor = mydb.cursor()

   #plot_1
    query1 = f'''SELECT * FROM {df}
                WHERE years = {year}'''
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    aguy = pd.DataFrame(table_1,columns = ("States","Years","Quarter","Brands","Transaction_count","Percentage"))

    query2 = f'''SELECT brands,SUM(transaction_count) AS transaction_count
                FROM {df}
                WHERE years = {year}
                GROUP BY brands;'''
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    aguyg = pd.DataFrame(table_2,columns = ("Brands","Transaction_count"))

    fig_bar_1 = px.bar(aguyg,x = "Brands", y = "Transaction_count",title = f"{year} BRANDS AND TRANSACTION COUNT",
                    width = 1000,color_discrete_sequence=px.colors.sequential.haline,hover_name="Brands")
    fig_bar_1.show()

    return aguy

In [20]:
# Aggre_user_analysis_2
def aggre_user_plot_2(df, quarter):
    aguyq = df[df["Quarter"] == quarter]
    aguyq.reset_index(drop = True,inplace = True)

    aguyqg = pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace = True)

    fig_bar_1 = px.bar(aguyqg,x = "Brands", y = "Transaction_count",title = f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT",
                        width = 1000,color_discrete_sequence=px.colors.sequential.haline,hover_name="Brands")
    fig_bar_1.show()

    return aguyq

In [21]:
# Aggre_user_analysis_3
def aggre_user_plot_3(df, state):
    auyqs = df[df["States"] == state]
    auyqs.reset_index(drop = True, inplace = True)

    fig_line_1 = px.line(auyqs, x= "Brands", y = "Transaction_count",hover_data = "Percentage",
                        title = f"{state.upper()} BRANDS, TRANSACTION COUNT, PERCENTAGE",width= 1000, markers = True)
    fig_line_1.show()

In [22]:
# Map_transaction_District
def map_tran_Districts(df, state):

    tacy = df[df["States"]== state]
    tacy.reset_index(drop = True, inplace = True)

    tacyg = tacy.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace = True)

    fig_bar_1 = px.bar(tacyg,x = "Transaction_amount", y = "Districts", orientation="h",
                       title = f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence=px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2 = px.bar(tacyg,x = "Transaction_count", y = "Districts", orientation="h",
                       title = f"{state.upper()} DISTRICT AND TRANSACTION COUNT", color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_bar_2.show()

In [23]:
# map_user_plot_1
def map_user_plot_1(df,year):
    mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
    cursor = mydb.cursor()

   #plot_1
    query1 = f'''SELECT * FROM {df}
                WHERE years = {year}'''
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    muy = pd.DataFrame(table_1,columns = ("States","Years","Quarter","Districts","RegisteredUsers","AppOpens"))

    query2 = f'''SELECT states,SUM(registeredusers) AS registeredusers
                FROM {df}
                WHERE years = {year}
                GROUP BY states;'''
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    muyg = pd.DataFrame(table_2,columns = ("States","RegisteredUsers"))

    fig_line_1 = px.line(muyg, x= "States", y = ["RegisteredUsers"],
                        title = f"{year} REGISTEREDUSER",width= 1000,height= 800, markers = True)
    fig_line_1.show()

    query3 = f'''SELECT states,SUM(appopens) AS appopens
                FROM {df}
                WHERE years = {year}
                GROUP BY states;'''
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    muyg1 = pd.DataFrame(table_3,columns = ("States","AppOpens"))

    fig_line_2 = px.line(muyg1, x= "States", y = ["AppOpens"],
                        title = f"{year} APPOPENS",width= 1000,height= 800, markers = True)
    fig_line_2.show()

    return muy

In [24]:
# map_user_plot_2
def map_user_plot_2(df,quarter):
    muyq = df[df["Quarter"] == quarter]
    muyq.reset_index(drop = True,inplace = True)

    muyqg = muyq.groupby("States")[["RegisteredUsers","AppOpens"]].sum()
    muyqg.reset_index(inplace = True)

    fig_line_1 = px.line(muyqg, x= "States", y = ["RegisteredUsers","AppOpens"],
                        title = f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTEREDUSER, APPOPENS",width= 1000,height= 800, markers = True,
                        color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_line_1.show()

    return muyq

In [25]:
# map_user_plot_3
def map_user_plot_3(df, states):

    muyqs = df[df["States"] == states]
    muyqs.reset_index(drop = True,inplace = True)

    fig_map_user_bar_1=px.bar(muyqs,x = "RegisteredUsers", y = "Districts", orientation= "h",
                            title = "REGISTERED USER", height = 800, color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2=px.bar(muyqs,x = "AppOpens", y = "Districts", orientation= "h",
                            title = "APPOPENS", height = 800, color_discrete_sequence=px.colors.sequential.Rainbow)
    fig_map_user_bar_2.show()

In [26]:
# top_transaction_plot_1
def Top_transaction_plot_1(df, state):
    tty = df[df["States"] == state]
    tty.reset_index(drop= True, inplace = True)

    fig_top_tran_bar_1=px.bar(tty,x = "Quarter", y = "Transaction_amount",hover_data="Pincodes",
                            title = "TRANSACTION AMOUNT", height = 800, color_discrete_sequence=px.colors.sequential.GnBu_r)
    fig_top_tran_bar_1.show()

    fig_top_tran_bar_2=px.bar(tty,x = "Quarter", y = "Transaction_count",hover_data="Pincodes",
                            title = "TRANSACTION COUNT", height = 800, color_discrete_sequence=px.colors.sequential.Agsunset_r)
    fig_top_tran_bar_2.show()

In [27]:
# top_user_plot
def top_user_plot_1(df, year):
    mydb = psycopg2.connect(host = "localhost",
                           user = "postgres",
                           port= 5432,
                           database = "phonepe_data",
                           password = "arjunsoman123"
                              )
    cursor = mydb.cursor()

   #plot_1
    query1 = f'''SELECT * FROM {df}
                WHERE years = {year}'''
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    tuy = pd.DataFrame(table_1,columns = ("States","Years","Quarter","Pincodes","RegisteredUsers"))

    query2 = f'''SELECT states,quarter,
                SUM(registeredusers) as registeredusers
                FROM {df}
                WHERE years = {year}
                GROUP BY states,quarter'''
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    tuyg = pd.DataFrame(table_2,columns = ("States","Quarter","RegisteredUsers"))

    fig_top_plot_1= px.bar(tuyg, x = "States",y = "RegisteredUsers", color = "Quarter",width = 1000, height = 800,
                        color_discrete_sequence=px.colors.sequential.Burgyl, hover_name= "States",
                        title= f"{year} REGISTERED USERS")
    fig_top_plot_1.show()

    return tuy

In [28]:
# top_user_plot_2
def top_user_plot_2(df,state):
    tuys = df[df["States"] == state]
    tuys.reset_index(drop = True,inplace = True)

    fig_top_plot_2 = px.bar(tuys, x = "Quarter", y = "RegisteredUsers",title = "REGISTERED USERS,PINCODES,QUARTER",
                            width = 1000, height = 800, color = "RegisteredUsers", hover_data = "Pincodes",
                            color_continuous_scale=px.colors.sequential.Magenta)
    fig_top_plot_2.show()

### Aggregated Transaction

In [ ]:
tac_Y = Transaction_amount_count_Y("aggregated_transaction", 2023)

In [31]:
tac_Y

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2023,1,Merchant payments,1122063,1008821751
1,Andaman & Nicobar,2023,1,Peer-to-peer payments,862347,3299762230
2,Andaman & Nicobar,2023,1,Recharge & bill payments,286024,146338470
3,Andaman & Nicobar,2023,1,Financial Services,2515,3556954
4,Andaman & Nicobar,2023,1,Others,3443,3049182
...,...,...,...,...,...,...
2875,West Bengal,2023,4,Merchant payments,354067997,239073842398
2876,West Bengal,2023,4,Peer-to-peer payments,317959249,964138540494
2877,West Bengal,2023,4,Recharge & bill payments,64920775,45319429210
2878,West Bengal,2023,4,Financial Services,480740,459007296
2879,West Bengal,2023,4,Others,524477,404156680

In [ ]:
aggre_transaction_type(tac_Y, 'Delhi')

In [ ]:
tac_Y_Q = Transaction_amount_count_Y_Q(tac_Y, 2)

In [ ]:
tac_Y_Q

In [ ]:
aggre_transaction_type(tac_Y_Q, 'Delhi')

### Aggregated User

In [ ]:
Aggre_user_Y = aggre_user_plot_1("aggregated_user", 2018)

In [ ]:
Aggre_user_Y_Q = aggre_user_plot_2(Aggre_user_Y, 3)

In [ ]:
aggre_user_plot_3(Aggre_user_Y_Q,"Andaman & Nicobar")

### Map transaction

In [ ]:

map_tran_tac_Y = Transaction_amount_count_YY("map_transaction", 2023)

In [ ]:
map_tran_Districts(map_tran_tac_Y,'West Bengal')

In [ ]:
map_tran_tac_Y_Q = Transaction_amount_count_Y_Q(map_tran_tac_Y, 2)

In [ ]:
map_tran_Districts(map_tran_tac_Y_Q, 'Delhi')

### Map_User

In [ ]:
Map_user_Y = map_user_plot_1("map_user",2021)

In [ ]:
Map_user_Y_Q = map_user_plot_2(Map_user_Y,2)

In [ ]:
map_user_plot_3(Map_user_Y_Q, "Kerala")

### Top_transaction

In [ ]:

Top_tran_tac_Y = Transaction_amount_count_YYY(Top_transaction, 2023)

In [ ]:
Top_transaction_plot_1(Top_tran_tac_Y, "West Bengal")

In [ ]:
top_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Top_tran_tac_Y, 2)

In [ ]:
Top_tran_tac_Y

### Top_user

In [ ]:
Top_user_Y = top_user_plot_1(Top_user, 2021)

In [ ]:
top_user_plot_2(Top_user_Y, "Kerala")